# Configuración de la aplicación de Spring
WMS_NAME=

# Configuraciones de JWT
WMS_JWT_REFRESH_TIME=
WMS_JWT_SECRET_KEY=
WMS_JWT_TIME=

# Nombre del host y la base de datos
WMS_MARIADB_HOST=
WMS_MARIADB_NAME=
WMS_MARIADB_PORT=

# Credenciales de la base de datos
WMS_MARIADB_USERNAME=
WMS_MARIADB_PASSWORD=

# Configuraciones internas del servidor (aplicación)
WMS_DISABLE_SWAGGER_API_DOCS=
WMS_DISABLE_SWAGGER_UI=
WMS_DEBUG_STREAM=
WMS_DEBUG=

WMS_CLIENT_PROTOCOL=
WMS_CLIENT_NAME=
